@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<form method="get" action="@Url.Action("Index", "Blog")">
    <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-primary searchbtn">Search</button>
</form>
<h2>Top News Articles</h2>
<div class="top-news-container">
    <div class="top-news-list">
        @foreach (var article in Enumerable.Take(ViewBag.Top3Articles, 3))
        {
            <div class="top-news-card">
                <h3>@article.Title</h3>
                <img src="@article.Image" alt="@article.Title" />
            </div>
        }
    </div>
</div>
<h1 class="posts">Recent Posts</h1>
@if (SignInManager.IsSignedIn(User)){
<a href="/Blog/Create">
<i i class="icon" data-feather="plus-circle"></i>
</a>
}else{
    <div class="avatar-container">
        <img src="/Images/avatar.jpg" alt="Avatar" class="avatar">
        <div class="message">
            <p style="color: #fff;">I'm guessing you can't write your own blogs at the moment, what could be the problem?🤔<br />
               Well it's because your haven't logged in, log in now🤣
            </p>
        </div>
    </div>
    
}
@if (Model != null)
{
@foreach (var item in Model) {
    
        <div class="article">
            <div class="authorname">
             @if (item.AuthorProfilePicture != null){
               <img src="data:image/jpeg;base64, @Convert.ToBase64String(@item.AuthorProfilePicture)"alt="Author Profile Picture" 
                style="height:50px ; width: 50px; border-radius: 50%;  ;">
            }
            <h2 style="display: inline-block; vertical-align: middle;">@item.AuthorName</h2>
         <div class="authorimage @if (string.IsNullOrEmpty(item.ImagePath)) { <text>hidden</text> }">
           @if (!string.IsNullOrEmpty(item.ImagePath))
                  {
           <a href="@item.ImagePath">
            <img src="@item.ImagePath" alt="No image" class="blog-image" />
                </a>
                }
         </div>

        </div>
        <div class="contents">
            <h2>@item.Title</h2>
            <p>@Html.Raw(@item.Content)</p>
            <p>@item.Created</p>
           
            <h3>Reactions</h3>
             <ul>
                @foreach(var reaction in item.Reactions)
                {
                    @if(reaction != null){
                        <div>
                            <p class="reactor">@reaction.reactor</p>
                            <p class="reactionValue">@reaction.Value @reaction.Comment</p> 
                        </div>
                    }
                }
             </ul>
             @if (SignInManager.IsSignedIn(User)){
            <a asp-action="Details" asp-route-id="@item.Id">
            <span style="outline: none; ">Comment</span>
            </a>
             }else{
    <h4>Sign In to comment</h4>
}
              @if (User.Identity.Name == item.AuthorName){
              <div class="actions">
                
               </div>
          }
        </div>
    </div>

}
}
  